body {
    margin: 0;
    font-family: 'IBM Plex Serif', serif;
}
section{
    margin-bottom: 100px;
}
/*Header Section Start */
.header-section{
    display: flex;
    margin-top: 40px;
}
.header-content{
    width: 50%;
    padding-left: 100px;
}
.header-content h1{
    padding-left: 5px;
    font-size: 50px;
    border-left: 5px solid salmon;
    border-radius: 2px;
}
.blue-color{
    color: blue;
}
.know-more-button{
    text-decoration: none;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 5px;
    line-height: normal;
    color: white;
    background-color: palegreen 
}
.header-image{
    width: 40%;
    padding-left: 100px;
}
.header-image img{
    width: 70%;
}
/*Header Section End */

/* Mission Section Start */
.mission-plan-area{
    width: 100%;    
}
.mission-plan-area h1{
    text-align: center;
    font-size: 40px;
    margin-top: 70px;
}
.plan-area{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.mission-area{
    width: 300px;
    height: 300px;
    margin-right: 30px;
    padding-left: 10px;
    border-radius: 30px;
    background-color: rgba(120, 247, 251, 0.24);
}
.vision-area{
    width: 300px;
    height: 300px;
    margin-right: 30px;
    padding-left: 10px;
    border-radius: 30px;
    background-color: rgba(255, 124, 233, 0.24);
}.goals-area{
    width: 300px;
    height: 300px;
    margin-right: 30px;
    padding-left: 10px;
    border-radius: 30px;
    background-color: rgba(140, 120, 251, 0.26);
}
.vision-img{
    width: 100%;
}
.vision-img img{
    width: 30%;
}
/* Mission Section End */
