body {
    margin: 0;
    font-family: 'IBM Plex Serif', serif;
}
section{
    margin-bottom: 100px;
}
/*Header Section Start */
.header-section{
    display: flex;
    margin-top: 40px;
}
.header-content{
    width: 50%;
    padding-left: 100px;
}
.header-content h1{
    padding-left: 5px;
    font-size: 50px;
    border-left: 5px solid salmon;
    border-radius: 2px;
}
.blue-color{
    color: #ff5100;
}
.know-more-button{
    text-decoration: none;
    font-size: 20px;
    padding: 7px 20px;
    border-radius: 5px;
    line-height: normal;
    color: white;
    background-color: #00d9ff 
}
.header-image{
    width: 40%;
    padding-left: 100px;
}
.header-image img{
    width: 70%;
}
.scorll-down{
    margin-top: 50px;
}
/*Header Section End */

/* Mission Section Start */
.mission-plan-area{
    width: 100%;    
}
.mission-plan-area h1{
    text-align: center;
    font-size: 40px;
    margin-top: 70px;
}
.plan-area{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.mission-area{
    width: 300px;
    height: 300px;
    margin-right: 30px;
    padding-left: 10px;
    border-radius: 30px;
    background-color: rgba(120, 247, 251, 0.24);
}
.vision-area{
    width: 300px;
    height: 300px;
    margin-right: 30px;
    padding-left: 10px;
    border-radius: 30px;
    background-color: rgba(255, 124, 233, 0.24);
}.goals-area{
    width: 300px;
    height: 300px;
    margin-right: 30px;
    padding-left: 10px;
    border-radius: 30px;
    background-color: rgba(140, 120, 251, 0.26);
}
.vision-img{
    width: 100%;
}
.vision-img img{
    width: 30%;
}
/* Mission Section End */

/*developer section start*/
.develop-site{
    display: flex;
    background-image: url(images/shape/shape-1.png);
    background-repeat: no-repeat;
    background-size:250px 250px;
}
.developer-image{
    width: 50%;
    padding-left: 10%;
}
.developer-image img{
    width: 80%;
}
.developer-content{
    width: 50%;
    padding-right: 5%;
}
.developer-content h1{
    font-size: 40px;
}
/* Develop section end*/

/*Our community start*/
.project-section{
    display: flex;
    width: 100%;
}
.project-content{
    width: 50%;
    padding-left: 10%;
    padding-right: 5%;
}
.project-content h1{
    font-size: 40px;
}
.project-image{
    width: 50%;
}
.project-image img{
    width: 80%;
}
/* Our community end*/

/*form section start*/
.form-section{
    width: 300px;
    height: 400px;
    margin: auto;
    padding: 20px 40px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(119, 119, 119, 0.342);
}
.form-section:hover{
    box-shadow: 10px 10px 40px rgba(138, 111, 129, 0.712);
}
.form-section input{
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgba(12, 240, 240, 0.287);
}
.form-section input:active{
    border: none;
}
.form-section textarea{
    border-radius: 10px;
    border: 1px solid rgba(12, 240, 240, 0.287);
}
.form-section button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    color: indigo;
    background-color: #08df08;
    border-radius: 15px;
    border: none;
}
.form-section button:hover{
    cursor: pointer;
    box-shadow: 10px 10px 40px rgba(34, 241, 34, 0.712);
}
/*form section end*/

/*footer start*/
footer{
    width: 100%;
    height: 120px;
    text-align: center;
    padding: 15px 0px 10px 0px;
    color: white;
    background-image: linear-gradient(gray, black);
}
/*footer end*/